### if & for 연습문제
   
  1. 구구단을 2 - 9단까지 출력하시오.
  2. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오. 
  4. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)
  5. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.

In [2]:
# while 쓸 때
x = 2
while x <= 9:
    y = 1
    while y <= 9:
        print(x , 'x', y, '=', x * y)
        y += 1
    x += 1
    
print('hah')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
hah

In [4]:
# for문 쓸 때
for x in list(range(2, 10)):
    for y in list(range(1, 10)):
        print(x, 'x', y, '=', x * y)
        
print('hah')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
hah

In [7]:
# 2의 배수 or 11의 배수

for i in list(range(1, 101)):
    if i % 2 == 0:
        print('2의 배수 = ', i )
    elif i % 11 == 0:
        print('11의 배수 =', i)
        
print('hah')

2의 배수 =  2
2의 배수 =  4
2의 배수 =  6
2의 배수 =  8
2의 배수 =  10
11의 배수 = 11
2의 배수 =  12
2의 배수 =  14
2의 배수 =  16
2의 배수 =  18
2의 배수 =  20
2의 배수 =  22
2의 배수 =  24
2의 배수 =  26
2의 배수 =  28
2의 배수 =  30
2의 배수 =  32
11의 배수 = 33
2의 배수 =  34
2의 배수 =  36
2의 배수 =  38
2의 배수 =  40
2의 배수 =  42
2의 배수 =  44
2의 배수 =  46
2의 배수 =  48
2의 배수 =  50
2의 배수 =  52
2의 배수 =  54
11의 배수 = 55
2의 배수 =  56
2의 배수 =  58
2의 배수 =  60
2의 배수 =  62
2의 배수 =  64
2의 배수 =  66
2의 배수 =  68
2의 배수 =  70
2의 배수 =  72
2의 배수 =  74
2의 배수 =  76
11의 배수 = 77
2의 배수 =  78
2의 배수 =  80
2의 배수 =  82
2의 배수 =  84
2의 배수 =  86
2의 배수 =  88
2의 배수 =  90
2의 배수 =  92
2의 배수 =  94
2의 배수 =  96
2의 배수 =  98
11의 배수 = 99
2의 배수 =  100
hah

In [19]:
# 2의 배수 or 11의 배수

two = []
ele = []
for i in list(range(1, 101)):
    if i % 2 == 0:
        two.append(i)
    elif i % 11 == 0:
        ele.append(i)
        
print('2의 배수\n', '->', two, '\n', '11의 배수\n', '->', ele)

2의 배수
 -> [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
 11의 배수
 -> [11, 33, 55, 77, 99]

In [20]:
nums = list(range(1, 101))
for x in nums:
    if x % 2 == 0 or x % 11 ==0:
        print(x)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

In [24]:
# sort 함수(정렬)을 사용한 경우
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
a.sort()
a[0], a[-1] # min , max

(1, 99)

In [26]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
_min = a[0]
for x in a:
    if x < _min:
        _min = x
print(_min)

1

In [27]:
_min = a[0]
_max = a[0]
for x in a[1:]:
    if x < _min:
        _min = x
    elif x > _max:
        _max = x
        
print(_min, _max)

1 99

In [36]:
# while문 일 때
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
i = 0
_sum = 0
while i < len(a):
    _sum += a[i]
    i += 1

print(_sum/len(a))

37.0

In [33]:
# for문 일 때
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
_sum = 0
for i in a:
    _sum += i
    
print(_sum/len(a))

37.0